<!DOCTYPE html >
<html>
<head>
    <title>
        @ViewBag.Title
    </title>
    <link href="@Url.Content("~/Content/css/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/site.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.18.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ba-bbq.min.js")"></script>
    @RenderSection("ScriptContent", required: false)
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23676078-6']);
        _gaq.push(['_setDomainName', 'nzor.org.nz']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <div class="page">
        <div id="banner">
            <a href="http://www.nzor.org.nz">
                <img src="@Url.Content("~/Content/images/nzor-logo.png")" alt="NZOR" /></a>
                <span style="padding-left:80px;">Web Service Demonstrator</span>
                <!--img src="@Url.Content("~/Content/images/demoTitle.jpg")" alt="banner" /-->
            @*<img src="@Url.Content("~/Content/images/banner.jpg")" alt="banner"  />*@
        </div>
        <div id="menu">
            <ul>
                <li>@Html.ActionLink("Home", "index", "home")</li>
                <li>@Html.ActionLink("Search", "search", "search")</li>
                <li>@Html.ActionLink("Match", "index", "match")</li>
                <li><a href="http://www.nzor.org.nz">About</a></li>
            </ul>
        </div>
        <div id="main">
            @RenderBody()
            <br />
            <br />
        </div>
        <div id="footer">
            <div id="footerText" style="text-align: center">
                @Html.ActionLink("Terms of use", "termsofuse", "home")
            </div>
        </div>
    </div>
</body>
</html>
