@model NZOR.Web.ViewModels.Users.UserRegistration

@{
    ViewBag.Title = "User Registration";
}

<h2>User Registration</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("RegisterUser", "Users")) {
    @Html.ValidationSummary(true)
    if (Model == null || Model.RegistrationResponse == null || Model.RegistrationResponse.Status != "EmailSent")
    {
    <fieldset>
        <legend>User Details</legend>

        @if (Model != null && Model.RegistrationResponse != null)
        {
            <p class="error">@Model.RegistrationResponse.Message</p>
            @Html.ActionLink("Resend API Key", "ResendAPIKey", new { userId = Model.RegistrationResponse.UserId })
        }
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            <input type="password" id="password" name="password" />
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Organisation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Organisation)
            @Html.ValidationMessageFor(model => model.Organisation)
        </div>

        <p>
            <input type="submit" value="Register" />
        </p>
    </fieldset>
    }
    else
    {
        <div>
        <p>@Model.RegistrationResponse.Message</p>
        </div>
    }
}

